<h3 class="draggable" translate>education.title</h3>
<mat-card>
    <mat-card-title-group>
      <a href="http://fis.vse.cz/en/studium/bakalarske-studium/#bc_ai" style="color: black;" target="_blank">
          <mat-icon svgIcon="gk:vse" mat-card-sm-image></mat-icon>
      </a>
        <mat-card-title translate>education.university</mat-card-title>
        <mat-card-subtitle translate>education.name</mat-card-subtitle>
    </mat-card-title-group>
  <mat-card-content>
    <p translate>education.p1</p>
    <p translate>education.p2</p>
  </mat-card-content>
</mat-card>