<h3 class="draggable">
  Employment history</h3>
<mat-accordion>
  <mat-expansion-panel [expanded]="step === 0" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title translate>employmentHistory.freelancer.range</mat-panel-title>
      <mat-panel-description translate>employmentHistory.freelancer.company</mat-panel-description>
    </mat-expansion-panel-header>
    <p translate>employmentHistory.freelancer.p1</p>
    <p translate>employmentHistory.freelancer.p2</p>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title translate>employmentHistory.intens.range</mat-panel-title>
      <mat-panel-description translate>employmentHistory.intens.company</mat-panel-description>
    </mat-expansion-panel-header>

    <p></p>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title translate>employmentHistory.veropath.range</mat-panel-title>
      <mat-panel-description translate>employmentHistory.veropath.company</mat-panel-description>
    </mat-expansion-panel-header>
    <p>Veropath was great experience</p>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 3" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title translate>employmentHistory.pscp.range</mat-panel-title>
      <mat-panel-description translate>employmentHistory.pscp.company</mat-panel-description>
    </mat-expansion-panel-header>
    <p>Veropath was great experience</p>
  </mat-expansion-panel>

</mat-accordion>