<h3 class="draggable">
  Employment history</h3>
<mat-accordion>
  <mat-expansion-panel [expanded]="step === 0" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title translate>employmentHistory.freelancer.range</mat-panel-title>
      <mat-panel-description translate>employmentHistory.freelancer.company</mat-panel-description>
    </mat-expansion-panel-header>
    <p translate>employmentHistory.freelancer.p1</p>
    <p translate>employmentHistory.freelancer.p2</p>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title translate>employmentHistory.intens.range</mat-panel-title>
      <mat-panel-description translate>employmentHistory.intens.company</mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      <span translate>employmentHistory.intens.positionKey</span>:
      <span translate class="summary-value">employmentHistory.intens.positionValue</span>
    </p>
    <p>
      <span translate>employmentHistory.intens.locationKey</span>:
      <span translate class="summary-value">employmentHistory.intens.locationValue</span>
    </p>
    <p translate>employmentHistory.intens.p1</p>
    <p translate>employmentHistory.intens.p2</p>
    <p>
      <span translate>employmentHistory.intens.skills</span>:
      <mat-chip-list>
        <mat-chip>Typescript</mat-chip>
        <mat-chip>Angular</mat-chip>
        <mat-chip>Angular Material</mat-chip>
        <mat-chip>RxJS</mat-chip>
        <mat-chip>Ag-Grid</mat-chip>
        <mat-chip>ServiceStack</mat-chip>
        <mat-chip>SSE</mat-chip>
        <mat-chip>Leaflet</mat-chip>
        <mat-chip>ArcGIS</mat-chip>
        <mat-chip>Visual Studio 2017</mat-chip>
        <mat-chip>Visual Studio Code</mat-chip>
      </mat-chip-list>
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title translate>employmentHistory.veropath.range</mat-panel-title>
      <mat-panel-description translate>employmentHistory.veropath.company</mat-panel-description>
    </mat-expansion-panel-header>
    <p>
        <span translate>employmentHistory.veropath.positionKey</span>:
        <span translate class="summary-value">employmentHistory.veropath.positionValue</span>
      </p>
      <p>
        <span translate>employmentHistory.veropath.locationKey</span>:
        <span translate class="summary-value">employmentHistory.veropath.locationValue</span>
      </p>
      <p translate>employmentHistory.veropath.p1</p>
      <p>
        <span translate>employmentHistory.veropath.skills</span>:
        <mat-chip-list>
          <mat-chip>Typescript</mat-chip>
          <mat-chip>AngularJS</mat-chip>
          <mat-chip>Bootstrap</mat-chip>
          <mat-chip>Angular UI bootstrap</mat-chip>
          <mat-chip>Ag-Grid</mat-chip>
          <mat-chip>ASP.NET vNext</mat-chip>
          <mat-chip>Visual Studio 2015</mat-chip>
          <mat-chip>C#</mat-chip>
          <mat-chip>Insight.Database</mat-chip>
        </mat-chip-list>
      </p>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 3" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title translate>employmentHistory.pscp.range</mat-panel-title>
      <mat-panel-description translate>employmentHistory.pscp.company</mat-panel-description>
    </mat-expansion-panel-header>
    <p>
        <span translate>employmentHistory.pscp.positionKey</span>:
        <span translate class="summary-value">employmentHistory.pscp.positionValue</span>
      </p>
      <p>
        <span translate>employmentHistory.pscp.locationKey</span>:
        <span translate class="summary-value">employmentHistory.pscp.locationValue</span>
      </p>
      <p translate>employmentHistory.pscp.p1</p>
      <p translate>employmentHistory.pscp.p2</p>
      <p>
        <span translate>employmentHistory.pscp.skills</span>:
        <mat-chip-list>
          <mat-chip>SQL / T-SQL</mat-chip>
          <mat-chip>PowerBuilder</mat-chip>
          <mat-chip>C#</mat-chip>
          <mat-chip>MVVM</mat-chip>
          <mat-chip>XAML</mat-chip>
          <mat-chip>WPF</mat-chip>
          <mat-chip>Visual Studio 2013</mat-chip>
          <mat-chip>nHibernate</mat-chip>
        </mat-chip-list>
      </p>
  </mat-expansion-panel>

</mat-accordion>