@import 'material/material.scss';
@import 'material/material-theme.scss';
@import 'ag-grid/ag-grid-mat.scss';
@import 'material-table.scss';
@import 'variables.scss';
@import 'google-style-loader.scss';

html, body, gk-root {
    margin: 0;
    height: 100%;
}


body {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-image: url("/assets/images/devices-color0.1.png");
    background-color: $primary-color-light;
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: 0 -60px; 
}

h3 {
    color: rgba(0,0,0,0.54);
    margin: 4px !important;
    margin-left: 12px !important;
}

// spinner

$offset: 187;
$duration: 1.4s;

.preloader {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.spinner {
  animation: rotator $duration linear infinite;
}
@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash $duration ease-in-out infinite, colors ($duration*4) ease-in-out infinite;
}
@keyframes colors {
  0% {
    stroke: #4285F4;
  }

  25% {
    stroke: #DE3E35;
  }

  50% {
    stroke: #F7C223;
  }

  75% {
    stroke: #1B9A59;
  }

  100% {
    stroke: #4285F4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: $offset;
  }

  50% {
    stroke-dashoffset: $offset/4;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
}
