@import 'material/material.scss';
@import 'material/material-theme.scss';
@import 'ag-grid/ag-grid-mat.scss';
@import 'material-table.scss';
@import 'variables.scss';
@import 'google-style-loader.scss';

html, body, gk-root {
    margin: 0;
    height: 100%;
}


body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-image: url("/assets/images/devices-color0.1.png");
    background-color: $primary-color-light;
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: 0 -60px; 
}

h3 {
    color: rgba(0,0,0,0.54);
    margin: 4px !important;
    margin-left: 12px !important;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
    box-shadow: inset 0 0 2px rgba(0,0,0,.3);
	background-color: rgba(8, 8, 8, 0.144);
}