@import 'material/material.scss';
@import 'material/material-theme.scss';
@import 'ag-grid/ag-grid-mat.scss';
@import 'material-table.scss';
@import 'variables.scss';
@import 'google-style-loader.scss';

html, body, gk-root {
    margin: 0;
    height: 100%;
}


body {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-image: url("/assets/images/devices-color0.1.png");
    background-color: $primary-color-light;
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: 0 -60px; 
}

h3 {
    color: rgba(0,0,0,0.54);
    margin: 4px !important;
    margin-left: 12px !important;
}
