@import "../material/material-theme.scss";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";
@import "~ag-grid-community/dist/styles/webfont/agGridMaterialFont.css";

// set the colors to the ones from the material theme
$ag-mat-primary: mat-color($primary);
$ag-mat-accent: mat-color($accent);

ag-grid-angular {
  width: 100%;
  height: 400px;
}

.ag-theme-material {

  .ag-cell {
    line-height: 42px;
  }

  .ag-cell:focus {
    outline: none;
  }

  mat-icon {
    font-size: 22px;
  }
}

.cell-number {
  text-align: right;
}
