@import '../../styles/variables.scss';


.mat-icon-button {
    margin-right: 12px;
    margin-left: 12px;
}

.lang-checked {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); 
}

mat-sidenav {
    width: 50vw;
}

.mat-drawer-container {
    background-color: rgba(255,255,255,0);
}

mat-toolbar {
    background-color: rgba(255,255,255,0);
    .mat-button {
        margin: 0 5px 0 5px;
    }
}