<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
        </button>
        <div fxFlex="1 1 auto"></div>

        <button mat-icon-button (click)="resetGridster()" translate matTooltip="{{'menu.resetGridster' | translate}}" fxHide fxShow.gt-sm>
            <mat-icon>restore</mat-icon>
        </button>

        <button mat-icon-button attr.aria-label="{{'languages.'+ currentLang | translate}}" matTooltip="{{'menu.language' | translate}}"
            (click)="toggleLang()" fxHide fxShow.gt-sm>
            <mat-icon svgIcon="gk:{{langOption}}"></mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav opened="false" align="start" mode="over">
        <mat-nav-list>
            <div fxLayout="column" fxLayoutAlign="space-around center">

                <a mat-list-item (click)="toggleLang()" fxShow fxHide.gt-sm>
                    <span translate>languages.{{ langOption }}</span>
                </a>
            </div>
        </mat-nav-list>
    </mat-sidenav>

    <router-outlet></router-outlet>
</mat-sidenav-container>