<mat-toolbar>
    <mat-toolbar-row>
        <div fxFlex="1 1 auto"></div>

        <button mat-icon-button (click)="resetGridster()" translate matTooltip="{{'menu.resetGridster' | translate}}">
            <mat-icon>restore</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="toolbarLangMenu" attr.aria-label="{{'languages.'+ currentLang | translate}}" matTooltip="{{'menu.language' | translate}}"
            fxHide fxShow.gt-sm>
            <mat-icon svgIcon="gk:{{currentLang}}"></mat-icon>
        </button>
        <mat-menu #toolbarLangMenu="matMenu">
            <button mat-icon-button (click)="changeLang('en')">
                <mat-icon svgIcon="gk:en"></mat-icon>
            </button>
            <button mat-icon-button (click)="changeLang('cs')">
                <mat-icon svgIcon="gk:cs"></mat-icon>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>