<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
        </button>
        <div fxFlex="1 1 auto"></div>

        <button mat-icon-button (click)="resetGridster()" translate matTooltip="{{'menu.resetGridster' | translate}}" fxHide fxShow.gt-sm>
            <mat-icon>restore</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="toolbarLangMenu" attr.aria-label="{{'languages.'+ currentLang | translate}}"
            matTooltip="{{'menu.language' | translate}}" fxHide fxShow.gt-sm>
            <mat-icon svgIcon="gk:{{currentLang}}"></mat-icon>
        </button>
        <mat-menu #toolbarLangMenu="matMenu">
            <button mat-icon-button (click)="changeLang('en')">
                <mat-icon svgIcon="gk:en"></mat-icon>
            </button>
            <button mat-icon-button (click)="changeLang('cs')">
                <mat-icon svgIcon="gk:cs"></mat-icon>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav opened="false" align="start" mode="over">
        <mat-nav-list>
            <div fxLayout="column" fxLayoutAlign="space-around center">

            <a mat-list-item [matMenuTriggerFor]="langMenu" fxShow fxHide.gt-sm>
                <span translate>languages.{{ currentLang }}</span>
            </a>
            <mat-menu #langMenu="matMenu">
                <button mat-menu-item (click)="changeLang('en')">
                    <span translate>languages.en</span>
                </button>
                <button mat-menu-item (click)="changeLang('cs')">
                    <span translate>languages.cs</span>
                </button>
            </mat-menu>
            </div>
        </mat-nav-list>
    </mat-sidenav>

    <router-outlet></router-outlet>
</mat-sidenav-container>