gridster {
  background: rgba(255, 255, 255, 0);

  gridster-item {
    background: rgba(255, 255, 255, 0);
  }

  .simple-bar-content-wrapper {
    overflow-y: auto !important;
  }

}

gridster.mobile gridster-item {
  height: 45%;
}
