.about-me-title{
    font-size: 24px;
    height: 1em;
}

.about-me-subtitle{
    font-size: 16px;
    height: 1em;
}

.profile-image-thumbnail {
    background-image: url('/assets/images/profile-thumbnail.png');
  background-size: cover;
  background-size: cover;
  width: 48px;
  height: 48px;
}