<div fxLayout="column" fxLayoutAlign="start center">
    <h3>Moje stranka</h3>

<mat-card>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis bibendum pretium. Duis non metus ultricies mauris finibus faucibus. Pellentesque maximus a arcu nec dignissim. Morbi sed turpis sit amet diam hendrerit hendrerit. Sed sit amet nisl at neque molestie pretium et ac magna. Nam sem eros, tristique vel ligula pharetra, tincidunt congue arcu. Pellentesque sed commodo ex. Vestibulum vitae volutpat sem. Integer egestas, ligula eu euismod elementum, metus ipsum ultrices nunc, eu consequat quam nisl luctus elit. Praesent lorem turpis, tincidunt et dolor pellentesque, gravida venenatis massa. Praesent ultrices id turpis in dignissim.
</p>
</mat-card>

<mat-card>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis bibendum pretium. Duis non metus ultricies mauris finibus faucibus. Pellentesque maximus a arcu nec dignissim. Morbi sed turpis sit amet diam hendrerit hendrerit. Sed sit amet nisl at neque molestie pretium et ac magna. Nam sem eros, tristique vel ligula pharetra, tincidunt congue arcu. Pellentesque sed commodo ex. Vestibulum vitae volutpat sem. Integer egestas, ligula eu euismod elementum, metus ipsum ultrices nunc, eu consequat quam nisl luctus elit. Praesent lorem turpis, tincidunt et dolor pellentesque, gravida venenatis massa. Praesent ultrices id turpis in dignissim.
    </p>
    </mat-card>

    <mat-card>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis bibendum pretium. Duis non metus ultricies mauris finibus faucibus. Pellentesque maximus a arcu nec dignissim. Morbi sed turpis sit amet diam hendrerit hendrerit. Sed sit amet nisl at neque molestie pretium et ac magna. Nam sem eros, tristique vel ligula pharetra, tincidunt congue arcu. Pellentesque sed commodo ex. Vestibulum vitae volutpat sem. Integer egestas, ligula eu euismod elementum, metus ipsum ultrices nunc, eu consequat quam nisl luctus elit. Praesent lorem turpis, tincidunt et dolor pellentesque, gravida venenatis massa. Praesent ultrices id turpis in dignissim.
        </p>
        </mat-card>

        <mat-card>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis bibendum pretium. Duis non metus ultricies mauris finibus faucibus. Pellentesque maximus a arcu nec dignissim. Morbi sed turpis sit amet diam hendrerit hendrerit. Sed sit amet nisl at neque molestie pretium et ac magna. Nam sem eros, tristique vel ligula pharetra, tincidunt congue arcu. Pellentesque sed commodo ex. Vestibulum vitae volutpat sem. Integer egestas, ligula eu euismod elementum, metus ipsum ultrices nunc, eu consequat quam nisl luctus elit. Praesent lorem turpis, tincidunt et dolor pellentesque, gravida venenatis massa. Praesent ultrices id turpis in dignissim.
            </p>
            </mat-card>
            <mat-card>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis bibendum pretium. Duis non metus ultricies mauris finibus faucibus. Pellentesque maximus a arcu nec dignissim. Morbi sed turpis sit amet diam hendrerit hendrerit. Sed sit amet nisl at neque molestie pretium et ac magna. Nam sem eros, tristique vel ligula pharetra, tincidunt congue arcu. Pellentesque sed commodo ex. Vestibulum vitae volutpat sem. Integer egestas, ligula eu euismod elementum, metus ipsum ultrices nunc, eu consequat quam nisl luctus elit. Praesent lorem turpis, tincidunt et dolor pellentesque, gravida venenatis massa. Praesent ultrices id turpis in dignissim.
                </p>
                </mat-card>
                
                <mat-card>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis bibendum pretium. Duis non metus ultricies mauris finibus faucibus. Pellentesque maximus a arcu nec dignissim. Morbi sed turpis sit amet diam hendrerit hendrerit. Sed sit amet nisl at neque molestie pretium et ac magna. Nam sem eros, tristique vel ligula pharetra, tincidunt congue arcu. Pellentesque sed commodo ex. Vestibulum vitae volutpat sem. Integer egestas, ligula eu euismod elementum, metus ipsum ultrices nunc, eu consequat quam nisl luctus elit. Praesent lorem turpis, tincidunt et dolor pellentesque, gravida venenatis massa. Praesent ultrices id turpis in dignissim.
                    </p>
                    </mat-card>
                
                    <mat-card>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis bibendum pretium. Duis non metus ultricies mauris finibus faucibus. Pellentesque maximus a arcu nec dignissim. Morbi sed turpis sit amet diam hendrerit hendrerit. Sed sit amet nisl at neque molestie pretium et ac magna. Nam sem eros, tristique vel ligula pharetra, tincidunt congue arcu. Pellentesque sed commodo ex. Vestibulum vitae volutpat sem. Integer egestas, ligula eu euismod elementum, metus ipsum ultrices nunc, eu consequat quam nisl luctus elit. Praesent lorem turpis, tincidunt et dolor pellentesque, gravida venenatis massa. Praesent ultrices id turpis in dignissim.
                        </p>
                        </mat-card>
                
                        <mat-card>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis bibendum pretium. Duis non metus ultricies mauris finibus faucibus. Pellentesque maximus a arcu nec dignissim. Morbi sed turpis sit amet diam hendrerit hendrerit. Sed sit amet nisl at neque molestie pretium et ac magna. Nam sem eros, tristique vel ligula pharetra, tincidunt congue arcu. Pellentesque sed commodo ex. Vestibulum vitae volutpat sem. Integer egestas, ligula eu euismod elementum, metus ipsum ultrices nunc, eu consequat quam nisl luctus elit. Praesent lorem turpis, tincidunt et dolor pellentesque, gravida venenatis massa. Praesent ultrices id turpis in dignissim.
                            </p>
                            </mat-card>
                            <mat-card>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis bibendum pretium. Duis non metus ultricies mauris finibus faucibus. Pellentesque maximus a arcu nec dignissim. Morbi sed turpis sit amet diam hendrerit hendrerit. Sed sit amet nisl at neque molestie pretium et ac magna. Nam sem eros, tristique vel ligula pharetra, tincidunt congue arcu. Pellentesque sed commodo ex. Vestibulum vitae volutpat sem. Integer egestas, ligula eu euismod elementum, metus ipsum ultrices nunc, eu consequat quam nisl luctus elit. Praesent lorem turpis, tincidunt et dolor pellentesque, gravida venenatis massa. Praesent ultrices id turpis in dignissim.
                                </p>
                                </mat-card>
                                
                                <mat-card>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis bibendum pretium. Duis non metus ultricies mauris finibus faucibus. Pellentesque maximus a arcu nec dignissim. Morbi sed turpis sit amet diam hendrerit hendrerit. Sed sit amet nisl at neque molestie pretium et ac magna. Nam sem eros, tristique vel ligula pharetra, tincidunt congue arcu. Pellentesque sed commodo ex. Vestibulum vitae volutpat sem. Integer egestas, ligula eu euismod elementum, metus ipsum ultrices nunc, eu consequat quam nisl luctus elit. Praesent lorem turpis, tincidunt et dolor pellentesque, gravida venenatis massa. Praesent ultrices id turpis in dignissim.
                                    </p>
                                    </mat-card>
                                
                                    <mat-card>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis bibendum pretium. Duis non metus ultricies mauris finibus faucibus. Pellentesque maximus a arcu nec dignissim. Morbi sed turpis sit amet diam hendrerit hendrerit. Sed sit amet nisl at neque molestie pretium et ac magna. Nam sem eros, tristique vel ligula pharetra, tincidunt congue arcu. Pellentesque sed commodo ex. Vestibulum vitae volutpat sem. Integer egestas, ligula eu euismod elementum, metus ipsum ultrices nunc, eu consequat quam nisl luctus elit. Praesent lorem turpis, tincidunt et dolor pellentesque, gravida venenatis massa. Praesent ultrices id turpis in dignissim.
                                        </p>
                                        </mat-card>
                                
                                        <mat-card>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis bibendum pretium. Duis non metus ultricies mauris finibus faucibus. Pellentesque maximus a arcu nec dignissim. Morbi sed turpis sit amet diam hendrerit hendrerit. Sed sit amet nisl at neque molestie pretium et ac magna. Nam sem eros, tristique vel ligula pharetra, tincidunt congue arcu. Pellentesque sed commodo ex. Vestibulum vitae volutpat sem. Integer egestas, ligula eu euismod elementum, metus ipsum ultrices nunc, eu consequat quam nisl luctus elit. Praesent lorem turpis, tincidunt et dolor pellentesque, gravida venenatis massa. Praesent ultrices id turpis in dignissim.
                                            </p>
                                            </mat-card>

</div>