<mat-card>
  <mat-card-header class="draggable">
    <div mat-card-avatar class="profile-image-thumbnail"></div>
    <mat-card-title class="about-me-title">George Knap</mat-card-title>
    <mat-card-subtitle class="about-me-subtitle" translate>aboutMe.subtitle</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <article>
      <table class="material-table">
        <tbody>
          <tr>
            <td translate>aboutMe.age</td>
            <td>
              <span>{{myAge}} {{'aboutMe.years' | translate}}</span>
            </td>
          </tr>
          <tr>
            <td translate>aboutMe.email</td>
            <td>
              <a href="mailto:jirka.knap@gmail.com">jirka.knap@gmail.com</a>
            </td>
          </tr>
          <tr>
            <td translate>aboutMe.phone</td>
            <td>
              <a href="tel:00420777635732">+420 777 635 732</a>
            </td>
          </tr>
          <tr>
            <td translate>aboutMe.technologies</td>
            <td>
              <mat-chip-list>
                <mat-chip (click)="toAngular()">Angular</mat-chip>
                <mat-chip (click)="toMaterial()">Angular Material</mat-chip>
                <mat-chip (click)="toFirebase()">Firebase</mat-chip>
                <mat-chip (click)="toAgGrid()">Ag-Grid</mat-chip>
                <mat-chip (click)="toNativeScript()">NativeScript</mat-chip>
              </mat-chip-list>
            </td>
          </tr>
        </tbody>
      </table>
    </article>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLAyoutGap="12px">
    <a href="https://m.me/george.knap" target="_blank">
      <mat-icon svgIcon="gk:messenger" matTooltip="{{'aboutMe.messenger' | translate}}"></mat-icon>
    </a>
    <a href="https://www.linkedin.com/in/george-knap-a6839683/" target="_blank">
      <mat-icon svgIcon="gk:linkedin" matTooltip="{{'aboutMe.linkedin' | translate}}"></mat-icon>
    </a>
    <button matTooltip="{{'aboutMe.cv' | translate}}" mat-button color="accent" (click)="downloadCv()">
      <span>CV</span>
      <mat-icon>file_download</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>